<section class="section-culture-integration">
  <div class="container">
    <div class="content-wrapper">
      
      <div class="image-area">
        <div class="image-box">
          <img src="assets/images/image_5697dd.png" alt="Bolo de Chocolate com Morangos" class="img-fluid">
          <div class="flag-detail"></div>
        </div>
      </div>

    
        
        <p class="highlight-text">
          <strong>O FOCO É A INTEGRAÇÃO DA CULTURA VENEZUELA E BRASIL.</strong>
        </p>


        <div class="integration-icons">
          <div class="icon-item">
            <span>🇻🇪</span>
            <p>Tradição</p>
          </div>
          <div class="divider">+</div>
          <div class="icon-item">
            <span>🇧🇷</span>
            <p>Paixão</p>
          </div>
        </div>

        <button class="btn-custom">Conheça nosso Menu</button>
      </div>

    </div>
  </div>
</section>
