<section class="sobre-section">

    <div class="sobre-container">

        <div class="sobre-texto">

            <div class="linha-topo"></div>

            <h1>
                Sobre <span>Galarraga Eventos</span>
            </h1>

            <p>
                MARCA CRIADA PELO ENGENHEIRO LUIS GALARRAGA.
                FUNDADOR DO GRUPO “ GALARRAGA EVENTOS ” E COMO
                PRODUTOR DE EVENTOS SEU TRABALHO É PLANEJAR,
                ORGANIZAR E COORDENAR TODOS OS ASPECTOS DE UM
                EVENTO. DESDE A CONCEPÇÃO ATÉ A EXECUÇÃO.
                GARANTINDO QUE TUDO OCORRA CONFORME O PLANEJADO
                E DENTRO DO ORÇAMENTO.
            </p>

            <div class="linha-baixo"></div>

        </div>

        <div class="sobre-imagem">
            <img src="/public/Img_Sobre_nos.png" alt="">
        </div>

    </div>

</section>